<div class="container-fluid dialog">
  <h2 mat-dialog-title>
    {{ isEdit ? "Update location" : "Add location" }}
  </h2>
  <mat-dialog-content class="mat-typography">
    <div class="row mt-2" [formGroup]="locationGroup">
      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Location name</mat-label>
            <input
              matInput
              placeholder="Placeholder"
              formControlName="locationName"
            />
            <mat-error
              *ngIf="locationGroup.get('locationName').hasError('required')"
            >
              Location name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            formControlName="status"
          >
            <mat-radio-button
              class="example-radio-button"
              *ngFor="let status of statuses"
              [value]="status.Id"
            >
              {{ status.MasterDataName }}
            </mat-radio-button>
          </mat-radio-group>
          <mat-error
          *ngIf="locationGroup.get('status').hasError('required')"
        >
          Status is required
        </mat-error>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Added date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="addedDate"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error
              *ngIf="locationGroup.get('addedDate').hasError('required')"
            >
              Date is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <app-address-lookup
            [addressForm]="locationGroup.get('address')"
          ></app-address-lookup>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close [disabled]="this.isSave">Cancel</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="this.isSave"
      cdkFocusInitial
      (click)="click()"
    >
      Save
    </button>
  </mat-dialog-actions>
</div>
