<main>
  <article class="main-container">
    <div class="login-wrapper">
      <!-- Contenido del lado izquierdo -->
      <section class="form-wrapper">
        <!-- Contenedor del formulario y sus mensajes -->
        <div class="form-container">
          <!-- Mensaje de login -->
          <div class="form-messages">
            <h2 class="heading">LOGIN</h2>
            <hr class="separator" />
            <p>
              Welcome! Please, fill username and password to sign in into your
              account.
            </p>
          </div>

          <br />
          <form action="" [formGroup]="loginForm" >
            <mat-form-field style="width: 18vw" appearance="outline">
              <mat-label>Email</mat-label>
              <input
                matInput
                required
                type="email"
                placeholder="first.last@example.com"
                formControlName = "email"
              />
            </mat-form-field>
            <br />
            <br />
            <mat-form-field style="width: 18vw" appearance="outline">
              <mat-label>Enter your password</mat-label>
              <input matInput required  formControlName="password"/>
              <br />
              <button
                mat-icon-button
                matSuffix
                [attr.aria-label]="'Hide password'"
              ></button>
            </mat-form-field>
          </form>

          <br />
          <a href="ForgetPassword" style="color: #db0a5b; font-weight: bold"
            >Forget Password?</a
          >
          <br />
          <br />
          <button mat-raised-button color="primary" (click)="loginRequest()">
            Login
          </button>

          <!-- Separador entre botón y opciones -->
          <hr class="separator" />

          <!-- Otras opciones de inicio login -->
        </div>
      </section>

      <!-- Contenido del lado derecho -->
      <section class="image-wrapper">
        <div class="image-message">
          <div class="image-hr-container">
            <hr class="image-hr" />
          </div>

          <div class="image-text"></div>
        </div>
      </section>
    </div>
  </article>
</main>
