.custom-button {
  margin-right: 8px;
}

::ng-deep {
  .mat-form-field-infix {
      border: 0px !important;
  }
  .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
      transform: none !important;
  }
}
