<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-tool-bar></app-tool-bar>
    </div>
  </div>
  <div class="row form-body">
    <div class="col-md-3">
      <img
        class="food-image"
        [src]="imagePreview"
        alt=""
        srcset=""
      />
    </div>
    <div class="col-md-9">
      <form action="" [formGroup]="foodItemGroup">
        <div class="row" *ngIf="isEdit">
          <div class="col-md-6">
            <mat-form-field appearance="outline" >
              <mat-label>Food item code</mat-label>
              <input matInput placeholder="Placeholder"  formControlName="foodCode"/>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" >
              <mat-label>Batch Id</mat-label>
              <input matInput placeholder="Placeholder"  formControlName="batchId"/>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Food type</mat-label>
              <mat-select  formControlName="foodTypId">
                <mat-option
                  *ngFor="let foodType of foodTypes"
                  [value]="foodType.Id">
                  {{ foodType.FoodTypeName }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="foodItemGroup.get('foodTypId').hasError('required')">
                Food type is required
            </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Food price</mat-label>
              <input matInput type="number" placeholder="0" formControlName="foodPrice" />
              <span matTextPrefix>$&nbsp;</span>
                  <span matTextSuffix>,00</span>
                  <mat-error *ngIf="foodItemGroup.get('foodPrice').hasError('required')">
                    Price is required
                </mat-error>
            </mat-form-field>

          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Availability</mat-label>
              <mat-select formControlName="available">
                <mat-option [value]="false">Yes</mat-option>
                <mat-option [value]="true">No</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" >
              <mat-label>Added date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="addedDate" >
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="foodItemGroup.get('addedDate').hasError('required') && foodItemGroup.get('foodDescription').touched">
                Date is required
            </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Food description</mat-label>
              <textarea matInput formControlName="foodDescription"></textarea>
              <mat-error *ngIf="foodItemGroup.get('foodDescription').hasError('required')">
                Description is required
            </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4" *ngIf="!isEdit">
            <mat-form-field appearance="outline">
              <mat-label>Food count</mat-label>
              <input matInput type="number" placeholder="0" [formControl]="foodCount" />

              <mat-error *ngIf="foodCount.invalid && (foodCount.dirty || foodCount.touched)">
                  <span *ngIf="foodCount.hasError('required')">
                      Count is required
                  </span>
                  <span *ngIf="foodCount.hasError('min')">
                      Minimum value is 0
                  </span>
                  <span *ngIf="foodCount.hasError('max')">
                      Maximum value is 100
                  </span>
                  <span *ngIf="foodCount.hasError('nonNegative')">
                    Count cannot be negative
                </span>
              </mat-error>
          </mat-form-field>
          </div>
          <div class="col-md-2">
            <input type="file" #fileInput style="display: none" (change)="onFileChange($event)" />
            <button mat-raised-button (click)="triggerFileInput()">Add image</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

